@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&family=Roboto+Mono:wght@100&display=swap');

body {  
    font-size: 20px;
    /* font:inherit; */
}

html { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
}

body { 
    background-color: #FFF;
}

div { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    /* font-size: 100%;  */
    font: inherit; 
    vertical-align: baseline;
} 

div#content { 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 5em; 
    margin-bottom: 14em;
} 

span { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    /* font-size: 100%;  */
    font: inherit; 
    vertical-align: baseline;
} 

p { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    /* font-size: 100%;  */
    font: inherit; 
    vertical-align: baseline;
} 

p { 
    font-family: 'Inter';
    font-style: normal; 
    font-weight: 400;
} 

p { 
    color: #000;
} 

p { 
    line-height: 1.5em; 
    /* font-size: 1.1em;  */
    margin-bottom: 1em;
} 

ul { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    /* font-size: 100%;  */
    font: inherit; 
    vertical-align: baseline;
} 

ul { 
    margin-bottom: 1em; 
    padding-left: 1.4em; 
    list-style-type: square;
} 

ul.index { 
    margin-top: 2em; 
    list-style: none; 
    padding-left: 0em;
} 

b { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    /* font-size: 100%;  */
    font: inherit; 
    vertical-align: baseline;
} 

b { 
    font-family: 'Noto Serif', serif; 
    font-style: normal; 
    font-weight: 700;
} 

a { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
} 

a { 
    color: #0c0c0c;
    text-decoration: underline;
} 

li { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    /* font-size: 100%;  */
    font: inherit; 
    vertical-align: baseline;
} 

li { 
    font-family: 'Noto Serif', serif; 
    font-style: normal; 
    font-weight: 400;
} 

li { 
    color: #0c0c0c;
} 

li { 
    line-height: 1.5em; 
    /* font-size: 1.1em;  */
    list-style-position: outside; 
    margin-bottom: 1em;
} 

span.index-date { 
    color: grey; 
    padding-right: 0.5em;
} 

u {
    cursor: pointer;
}

img { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    /* font-size: 100%;  */
    font: inherit; 
    vertical-align: baseline;
} 

img { 
    margin-bottom: 1em; 
    width: 100%;
} 

h2 { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    /* font-size: 100%;  */
    font: inherit; 
    vertical-align: baseline;
} 

h2 { 
    font-family: 'Noto Serif', serif; 
    font-style: normal; 
    font-weight: 700;
} 

h2 { 
    color: #0c0c0c;
} 

h2 { 
    line-height: 1.5em; 
    /* font-size: 1.1em;  */
    margin-top: 1.5em; 
    margin-bottom: 0.5em;
} 



@media screen and (max-width: 800px) {
    body {
        /* font-size: 14px; */
        margin-top: 60px;
        padding-left: 31px;
        padding-right: 31px;

    }
}

@media only screen and (min-width: 800px){ 
    div#content { 
      width: 38em;
    } 
  }

.dateless {
    font-family: 'Inter';
    margin-top: 3rem;
    margin-bottom: 1em;
    /* font-size: 1.5rem; */
}

header a {
    color: grey;
}

li.point {
    /* font-size: 15px; */
    color: grey;
}

#blogs {
    display: flex;
    flex-direction: row;
}

.tinkerer {
    display: inline-block;
    transform-origin: right;
    transition: 1s;
    color: "red";
    font-weight: 700;
}

.cursor {
    display: inline-block;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
