@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&family=Roboto+Mono:wght@100&display=swap');

body {  
    font-size: 20px;
    background-color: #FFF;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 

html { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
    height: 100vh;
}

div { 
    margin: 0; 
    padding: 0; 
    border: 0;
    font: inherit; 
    vertical-align: baseline;
} 

div#content { 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 5em;
} 

span { 
    margin: 0; 
    padding: 0; 
    border: 0;
    font: inherit; 
    vertical-align: baseline;
}

span.index-date { 
    color: rgb(87, 87, 87); 
    padding-right: 0.5em;
} 

p { 
    margin: 0; 
    padding: 0; 
    border: 0;
    font: inherit; 
    vertical-align: baseline;
    font-family: 'Inter';
    font-style: normal; 
    font-weight: 400;
    color: #000;
    line-height: 1.5em;
    margin-bottom: 1em;
}

ul { 
    margin: 0; 
    padding: 0; 
    border: 0;
    font: inherit; 
    vertical-align: baseline;
    margin-bottom: 1em; 
    padding-left: 1.4em; 
    list-style-type: square;
}

ul.index { 
    margin-top: 2em; 
    list-style: none; 
    padding-left: 0em;
} 

b { 
    margin: 0; 
    padding: 0; 
    border: 0;
    font: inherit; 
    vertical-align: baseline;
    font-family: 'Noto Serif', serif; 
    font-style: normal; 
    font-weight: 700;
}

a { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
    color: #0c0c0c;
    text-decoration: underline;
}

li { 
    margin: 0; 
    padding: 0; 
    border: 0;
    font: inherit; 
    vertical-align: baseline;
    font-family: 'Noto Serif', serif; 
    font-style: normal; 
    font-weight: 400;
    color: #0c0c0c;
    line-height: 1.5em;
    list-style-position: outside; 
    margin-bottom: 1em;
}

li.point {
    color: grey;
}

u {
    font-family: 'Roboto';
    cursor: pointer;
    color: #3102b3;
}

u:hover {
    color: black;
}

img { 
    margin: 0; 
    padding: 0; 
    border: 0;
    font: inherit; 
    vertical-align: baseline;
    margin-bottom: 1em; 
    width: 100%;
}

h2 { 
    margin: 0; 
    padding: 0; 
    border: 0;
    font: inherit; 
    vertical-align: baseline;
    font-family: 'Noto Serif', serif; 
    font-style: normal; 
    font-weight: 700;
    color: #0c0c0c;
    line-height: 1.5em; 
    margin-top: 1.5em; 
    margin-bottom: 0.5em;
}

.dateless {
    font-family: 'Inter';
    margin-top: 3rem;
    margin-bottom: 1em;
}

header a {
    color: grey;
}

main {
    flex: 1;
}

#blogs {
    display: flex;
    flex-direction: row;
}

.tinkerer {
    display: inline-block;
    transform-origin: right;
    transition: 1s;
    color: "red";
    font-weight: 700;
}

.cursor {
    display: inline-block;
    animation: blink 0.7s infinite;
}

.sub-list {
    list-style-type: none;
}

.sub-list span {
    margin-left: 1rem;
    font-size: 18px;
}

.ending {
    margin-top: 3rem;
    color: rgb(104, 104, 104);
}

.backtotop {
    float: right; 
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 50px;
    margin-bottom: 50px;
}

.about-image {
    width: 150px;
    height: 150px;
    position: relative;
    margin: auto;
    float: right;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 0.2s;
}

.about-image:hover {
    transform: scale(1.1);
}

/* Footer Styles */
footer {
    margin-top: 2rem;
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cool-footer {
    color: #000;
    text-align: center;
    padding: 1rem;
}

.footer-text {
    font-size: 1rem;
    margin: 0;
}

.social-links {
    margin-top: 1rem;
}

.social-links a {
    display: inline-block;
    margin: 0 0.5rem;
    transition: transform 0.2s;
}

.social-links a:hover {
    transform: scale(1.1);
    /* margin: 10px; */
}

.footerSocials {
    display: flex;
    align-items: center;
}
.social-links img {
    width: 30px;
    height: 30px;
    margin: 0;
}

.credits {
    font-family: 'Roboto', 'Noto Serif', serif; 
    font-size: medium;
    color: rgb(89, 89, 89);
}

/* Footer Styles End */

/* Navbar styles start */

nav {
    margin-top: 1rem;
}

.navbar .nav-item a {
    color: #333;
    text-decoration: none;
    position: relative;
    font-family: 'Roboto', 'Noto Serif', serif;
}

.navbar .nav-item a::before,
.navbar .nav-item a::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 0;
    background-color: black;
    bottom: -3px;
    transition: width 0.3s;
}

.navbar .nav-item a:hover {
    color: #4000f1;
}

.navbar .nav-item a::before {
    left: 0;
}

.navbar .nav-item a::after {
    right: 0;
}

.navbar .nav-item a:hover::before,
.navbar .nav-item a:hover::after {
    width: 100%;
}

.nav-item {
    margin: 0 0.5rem 0;
}

/* Navbar styles end */

@media screen and (min-width: 992px) {
    #navbarNav {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
}


@media screen and (min-width: 700px) {
    #twoColumns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 701px) {
    #twoColumns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@media only screen and (min-width: 800px){ 
    div#content { 
        width: 38em;
    } 
}

@media screen and (max-width: 800px) {
    body {
        /* font-size: 14px; */
        margin-top: 60px;
        padding-left: 31px;
        padding-right: 31px;

    }

    footer {
        padding-left: 0;
        padding-right: 0;
    }
}